.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 15px;
  border: none;
  text-align: left;
}

.table-icons {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}

.table-icon {
  font-size: 20px;
}

.table-container {
  margin-top: 50px;
  background: #fff;
  padding: 20px;
}

@media (max-width: 768px) {
  .table-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .add-transaction-btn {
    width: 100%;
  }
}
