section {
  padding: 20px;
  background-color: #f5f7fa;
  min-height: 100vh;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  background: #ffffff;
  width: 300px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info h2 {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 24px;
  color: #222;
  font-weight: bold;
}

.charts-wrapper {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-container {
  flex: 1;
  min-width: 300px;
  height: 350px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-transaction-btn {
  background-color: #03045e;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
